body{
    background-color: lightgreen; 
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}

button{
    color: white;
    background-color: indigo;
    border-radius: 100%;
    width: 30%;
    height: 50px;
    font-family: cursive;
    font-size: medium
    border-radius: 100%;
    border-color: pink;
    border-width: 3px;
    border: dotted;
}