body{
    background-color: #75FDD9;
}
.body-img{
    background-image: url('../../images/owl-brown-2.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 45%;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    padding-left: 15px;
}
.container.buttons{
    padding-top: 25px;
}
.container.form{
    margin-top: 50px;
}
.container.qs-score{
    margin-top: 18%;
}
img{
    width: 9%;
    padding: 0px 30px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.row.buttons{
    padding-bottom: 5px;
}

#question{
    font-family: 'News Cycle', sans-serif;
    font-size: 35px;
    color: black;
}
#quizForm{
    font-family: 'News Cycle', sans-serif;
    font-size: 35px;
    text-align: center;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
#scorescore{
    font-family: 'Chango', cursive;
    padding-right: 205px;
    font-size: 50px;
    color: black;
}
#submit-btn{
    padding: 10px 15px;
    margin-left: 10%;
    margin-top: 10px;
    border: none;
    border-radius: 0px;
    font-family: 'Chango', cursive;
    background: transparent;
    color: black;
}
footer {
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.links{
    padding: 10px 0px;
}
@media screen and (max-width:1000px) {
    img{
        width: 13%;
        padding: 0px 30px;
    }
}
@media screen and (max-width:700px) {
    img{
        width: 15%;
        padding: 0px 30px;
    }
}
@media screen and (max-width:550px) {
    img{
        width: 14%;
        padding: 0px 20px;
    }
    .container.form{
        margin-top: 80px;
    }
    #scorescore{
        padding-right: 15px;
        font-size: 25px;
    }
}
@media screen and (max-width:450px) {
    img{
        width: 13%;
        padding: 0px 5px;
    }
    .container.buttons{
        padding-top: 40px;
        padding-left: 5px;
    }
    .body-img{
        background-size: 30%;
    }
    #question{
        font-size: 20px;
    }
    .container.form{
        margin-top: 30px;
    }
    .container.qs-score{
        margin-top: 15%;
    }
    #submit-btn{
        font-size: 25px;
    }
}