body{
    background-image: url('../../images/owl-brown-2.png');
    background-position: right bottom;
    background-color: lightblue;
    background-repeat: no-repeat;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.container.buttons{
    width: 100%;
    padding: 15px 5px;
}
img{
    padding: 0px 20px;
}
.left{
    text-align: left;
}
.row.buttons{
    padding-bottom: 5px;
}
.score-container{
    position: relative;
    width: 5%;
    height: auto;
    text-align: center;
}
.text-over-score{
    font-family: 'Butterfly Kids', cursive;
    font-size: 30px;
    position: absolute;
    top:35%;
    left: 170%;
}
.question{
    font-family: 'Butterfly Kids', cursive;
    font-size: 45px;
    padding-left: 30px;
}
.center{
    text-align: center;
}
#image-score{
    width: 315px;
    height: 220px;
    padding: 0px;
}
#submit-btn{
    background-color: yellow;
    border-radius: 100%;
    padding: 15px;
    margin-left: 10%;
    margin-top: 10px;
    border: none;
}
@media screen and (max-width:2400), (max-height:1200px){
    .text-over-score{
        top:35%;
        left:125px;  
    }
    .body{
        background-size: 200px;
    }
}
@media screen and (max-width:1600), (max-height:992px){
    .text-over-score{
        top:35%;
        left:130px;  
    }
}
@media screen and (max-width:1280), (max-height:802px){
    .text-over-score{
        top:35%;
        left:135px;  
    }
}
@media screen and (max-width:800){
    body{
        background-image: none;
    }
    #image-score{
        margin-left: 25vw;
    }
    .text-over-score{
        left:140px;  
    }
    #submit-btn{
        margin-left: 25%;
        margin-top: 10px;
    }
}
@media screen and (max-width:320), (max-height:480px){
    body{
        background-image: none;
    }
    .container{
        margin: 10px 0px;
    }
    .row{
        padding: 5px 0px;
    }
    .text-over-score{
        top:35%;
        left:130px;  
    }
    #submit-btn{
        margin-left: 25%;
        margin-top: 10px;
    }
}